:host {
  display: block;
}

:host ::ng-deep .project-filter.p-selectbutton {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

:host ::ng-deep .project-filter .p-togglebutton {
  border-radius: 0.5rem;
}
